.Card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  width: 250px;
  display: block;
  margin: 20px auto;
  background-image: linear-gradient(#eacda3, #d6ae7b);
}


@media screen and (min-width: 64rem) {
  .Card {
    display: inline-block;
    width: 250px;
  }
}
@media screen and (min-width: 90rem) {
  .Card {
    display: inline-block;
    width: 220px;
  }
}
