.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  justify-content: center;
  margin: 15px 0;
}

.call-to-action {
  padding: 20px 0 10px 0;
}

body {
  background-image: linear-gradient(#2193b0,#6dd5ed);

}
.button-main {
  background-image: linear-gradient(#eacda3, #d6ae7b);
}

.city-name {
  padding: 20px 0 0 0;
  font-size: 50px;
  text-transform: uppercase;
  color: whitesmoke;
}